version: '3.8'
services:
  db:
    image: postgres:15
    container_name: pg-dev
    environment:
      POSTGRES_USER: vinay
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
